
.C-Contanior{
        position: relative;
  z-index: 1;
  padding-top: calc(80vh)
}

@media (max-width: 768px) {
.C-Contanior{
        position: relative;
  z-index: 1;
  padding-top: calc(50vh)
}

}