
.pro-Container {
  height: 80vh; 
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?q=80&w=873&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;

  position: fixed; 
  z-index: 0;
  overflow: hidden;
}

/* Dark overlay */
.pro-Container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.pro-Container h1  {
  font-weight: 800;
  font-size: clamp(2rem, 6vw, 3.5rem);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding-bottom: 6px;


  background: linear-gradient(90deg, #ebf3bd, #e1ff8e, #ffd7b1, #febe89, #ffbd66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 250% 250%;
  animation: gradientMove 5s ease infinite, fadeInUp 1.2s ease forwards;

  text-shadow: 0 0 18px rgba(150, 150, 255, 0.4),
               0 0 32px rgba(180, 140, 255, 0.2);
  opacity: 0;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  /* 50% { background-position: 100% 50%; } */
  100% { background-position: 0% 50%; }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.pro-Container h2{
  font-weight: 500;
  font-size: clamp(1rem, 4vw, 1.3rem);
  margin-top: 15px;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  animation: fadeInUp 1.2s ease forwards;
  opacity: 0;
  line-height: 1.6;
}

/* Tablet */
@media (max-width: 768px) {
  .pro-Container {
    height: 60vh; 
    padding: 40px 15px;
  }

  .pro-Container h1 {
    border-bottom: none; 
  }
}

/* Mobile */
@media (max-width: 480px) {
  .pro-Container {
    height: 50vh; /* smaller height for phones */
    padding: 30px 10px;
  }

  .pro-Container h1 {
    font-size: 1.6rem; /* smaller text */
    line-height: 1.2;
  }

  .pro-Container h2 {
    font-size: 0.9rem; /* smaller subtitle */
  }
}



