* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.product-contanior{
        position: relative;
  z-index: 1;
  padding-top: calc(80vh)
}

@media (max-width: 768px) {
.product-contanior{
        position: relative;
  z-index: 1;
  padding-top: calc(50vh)
}

}