.project6-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 8%;
  gap: 40px;
  background: #a3b9a2;
  flex-wrap: wrap;
}

.project6-left {
  flex: 1;
  color: #fff;
  max-width: 500px;
}

.project6-logo-circle {
  width: 80px;
  height: 80px;
  background: #fff;
  color: #000;
  border-radius: 50%;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 3px;
}

.project6-left h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.project6-left p {
  line-height: 1.6;
  margin-bottom: 30px;
  font-size: 15px;
}

.project6-stats {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.project6-stats h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.project6-stats p {
  font-size: 14px;
}

.project6-buttons {
  display: flex;
  gap: 15px;
}

.project6-btn-primary {
  background: #fff;
  color: #f98c3e;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.project6-btn-primary:hover {
  background: #f0f0f0;
}

.project6-btn-secondary {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.project6-btn-secondary:hover {
  background: #fff;
  color: #f98c3e;
}

.project6-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.project6-phone-img {
 max-width: 1200px; 
  width: 110%;  
}

/* ✅ Animation states */
.project6-hidden-left {
  opacity: 0;
  transform: translateX(100px);
  transition: all 2.8s ease;
}

.project6-hidden-bottom {
  opacity: 0;
  transform: translateY(100px);
  transition: all 2.8s ease;
}

.project6-animate {
  opacity: 1;
  transform: translate(0, 0);
}

/* ✅ Responsive */
@media (max-width: 992px) {
  .project6-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .project6-stats {
    justify-content: center;
  }

  .project6-buttons {
    justify-content: center;
  }
}


@media (max-width: 767px) {
  .project6-left,
  .project6-left.project6-animate,
  .project6-logo-circle,
  .project6-logo-circle.project6-animate {
    transform: none !important;
    opacity: 1 !important;
    transition: none !important;
  }